
html, body {
  font-family: 'Roboto', 'Helvetica', sans-serif;
}

.mdl-dialog{
  max-width:520px !important;
  width:87% !important;
}

.edit-note{
  width: 100% !important;
}

.new-note{
  width: 100% !important;
}

.jqte {
  margin-top:0px !important;
}

[data-selected="true"]{
  background-color: #00564c;
}
.mdl-card{
  min-height:128px !important;
  max-height:280px !important;
  overflow: hidden !important;
  margin:10px !important;
  cursor:pointer;
  width:auto !important;
  min-width:200px;
  max-width:330px;
}

#msg-dialog .mdl-textfield{
  width: 100% !important;

}
#editNoteContentTxt{
  height:300px;
  
}

.edit-note{
  max-height:250px;
  overflow: hidden;
}

.mdl-layout__drawer-button .material-icons{
  color:#fff !important;
}

.mdl-navigation__link{
  cursor:pointer !important;
}

.mdl-button--fab {
 background: #14bfa7 !important;
}


.notes-text-color{
  color: rgba(0,0,0,.54);
}

[data-notecolor="Yellow"] {
  background: #f8fc00 !important;	
}

[data-notecolor="Red"] {
  background: #ea5656 !important;	
}

[data-notecolor="Violet"] {
  background: #ffb0fd !important;
}

[data-notecolor="Green"] {
  background: #63ff46 !important;	
}

[data-notecolor="Blue"] {
  background: #93fffa !important;	
}



.auxbar.bar.bar3{
 display:none !important;
}

.progressbar.bar.bar1{
  background-color:white !important;
 }

 .mdl-progress>.bufferbar{
  background:rgba(0,0,0,0) !important;
 }

.mdl-layout__drawer .mdl-navigation .mdl-navigation__link{
	color:#fff !important;
	padding: 16px 20px !important;
}

.mdl-layout__drawer .mdl-navigation .mdl-navigation__link:hover{
	background-color:#00564c !important;
}

header{
	box-shadow: none !important;
}

.mdl-layout__drawer{
	border-right:0px !important;
}

.mdl-checkbox__box-outline{
   border-color:#000 !important;
}

.mdl-progress{
  width:100% !important;
}

.uttr-avatar {
  width: 48px;
  height: 48px;
  border-radius: 24px;
}

#create-board-btn{
  cursor:pointer !important;
}

.uttr-layout .mdl-layout__header .mdl-layout__drawer-button {
  color: rgba(0, 0, 0, 0.54);
}
.mdl-layout__drawer .avatar {
  margin-bottom: 16px;
}
.uttr-drawer {
  border: none;
}

.uttr-button{
  border:1px solid #fff;
  display:inline-block;
  position:relative;
  width:120px;
  height:35px;
  background:rgba(0,0,0,0);
  margin:8px;
  cursor:pointer !important;

}
/* iOS Safari specific workaround */
.uttr-drawer .mdl-menu__container {
  z-index: -1;
}
.uttr-drawer .uttr-navigation {
  z-index: -2;
}
/* END iOS Safari specific workaround */
.uttr-drawer .mdl-menu .mdl-menu__item {
  display: flex;
  align-items: center;
}
.uttr-drawer-header {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 16px;
  height: 210px;
}
.uttr-avatar-dropdown {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  width: 100%;
}

.uttr-navigation {
  flex-grow: 1;
}
.uttr-layout .uttr-navigation {
  display: flex !important;
  flex-direction: row;
  align-items: center;
  color: rgba(255, 255, 255, 0.56);
  font-weight: 500;
}
.uttr-layout .uttr-navigation .mdl-navigation__link:hover {
  background-color: #00BCD4;
  color: #37474F;
}
.uttr-navigation .mdl-navigation__link .material-icons {
  font-size: 24px;
  color: rgba(255, 255, 255, 0.56);
  margin-right: 10px;
}

.uttr-content {
  width: 90% !important;
}

.uttr-charts {
  align-items: center;
}
.uttr-chart:nth-child(1) {
  color: #ACEC00;
}
.uttr-chart:nth-child(2) {
  color: #00BBD6;
}
.uttr-chart:nth-child(3) {
  color: #BA65C9;
}
.uttr-chart:nth-child(4) {
  color: #EF3C79;
}
.uttr-graphs {
  padding: 16px 32px;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}
/* TODO: Find a proper solution to have the graphs
 * not float around outside their container in IE10/11.
 * Using a browserhacks.com solution for now.
 */
_:-ms-input-placeholder, :root .uttr-graphs {
  min-height: 664px;
}
_:-ms-input-placeholder, :root .uttr-graph {
  max-height: 300px;
}
/* TODO end */
.uttr-graph:nth-child(1) {
  color: #00b9d8;
}
.uttr-graph:nth-child(2) {
  color: #d9006e;
}

.uttr-cards {
  align-items: flex-start;
  align-content: flex-start;
}
.uttr-cards .uttr-separator {
  height: 32px;
}
.uttr-cards .mdl-card__title.mdl-card__title {
  color: white;
  font-size: 24px;
  font-weight: 400;
}
.uttr-cards ul {
  padding: 0;
}
.uttr-cards h3 {
  font-size: 1em;
}
.uttr-updates .mdl-card__title {
  min-height: 200px;
  background-image: url('images/dog.png');
  background-position: 90% 100%;
  background-repeat: no-repeat;
}
.uttr-cards .mdl-card__actions a {
  color: #00BCD4;
  text-decoration: none;
}

.uttr-options h3 {
  margin: 0;
}
.uttr-options .mdl-checkbox__box-outline {
  border-color: rgba(255, 255, 255, 0.89);
}
.uttr-options ul {
  margin: 0;
  list-style-type: none;
}
.uttr-options li {
  margin: 4px 0;
}
.uttr-options .material-icons {
  color: rgba(255, 255, 255, 0.89);
}
.uttr-options .mdl-card__actions {
  height: 64px;
  display: flex;
  box-sizing: border-box;
  align-items: center;
}
